data/scghg-RFF-sectoral-2020-CO2-n10000/cert-equiv-sc-CO2-n10000.csv
data/scghg-RFF-sectoral-2020-CO2-n10000/cpc_CO2--n10000-total.csv
data/scghg-RFF-sectoral-2020-CO2-n10000/mds_CO2--n10000-agriculture.csv
data/scghg-RFF-sectoral-2020-CO2-n10000/mds_CO2--n10000-cromar_mortality.csv
data/scghg-RFF-sectoral-2020-CO2-n10000/mds_CO2--n10000-energy.csv
data/scghg-RFF-sectoral-2020-CO2-n10000/mds_CO2--n10000-slr.csv
data/scghg-RFF-sectoral-2020-CO2-n10000/mds_CO2--n10000-total.csv
data/scghg-RFF-sectoral-2020-CO2-n10000/sc-CO2-n10000.csv
